# OpenWeatherMap Configuration
OPENWEATHERMAP_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENWEATHERMAP_BASE_URL=https://api.openweathermap.org/data/2.5

# App PostgresSQL Configuration
DATABASE_URL=postgresql+asyncpg://root:**************@localhost:5432/postgres

# Docker volume
PGSQL_VOLUME=~/pgsql

# SQL Server (external:internal) port
PGSQL_PORT_MAPPING=5432:5432

# SQL Server admin password
PGSQL_ADMIN_PASS=**************

